<div class="text-center">

    <h3 >Deseja apagar o Contato?</h3>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="DeleteContato" > Excluir </a>
    <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index" > Cancelar </a>
</div>